<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- include style sheets in the header -->
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:fragment="alert">
		<div th:switch="${message}">
			<div th:case="'Success'" class="alert alert-success">
				<strong>Success!</strong> Operation performed successfully.
			</div>
			<div th:case="'Failed'" class="alert alert-danger">
				<strong>Failure!</strong> Operation failed. Please try again
			</div>

		</div>
	</div>
</body>
</html>