<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div th:fragment="footer" th:align="center"
		style="bottom: 0px; position: fixed; width: 100%; background-color: #222222; color: white; height: 50px; padding: 15px;">
		&copy; <span
			th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2018</span>
		<span>Health Me v-</span><span
			th:text="${@environment.getProperty('app.version')}"></span>
	</div>
</body>
</html>