<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- include style sheets in the header -->
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home">Health Me</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li th:classappend="${module == 'appointment' ? 'active' : ''}"><a
						href="#" th:href="@{/home}">Exit</a></li>
<!-- 					<li th:classappend="${module == 'login' ? 'active' : ''}"><a -->
<!-- 						href="#" th:href="@{/headHunter/create}">New Head hunter</a></li> -->
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>