<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<!-- include style sheets in the header -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="alert alert-danger" style="margin-top: 10%">
			<strong>Failure!</strong> Operation failed. Please try again
		</div>
	</div>
</body>
</html>