<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Make Appointment</title>
<!-- include style sheets in the header -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div>
		<div th:replace="fragments/header :: header">&nbsp;</div>

		<div class="container" style="margin-top: 70px;">

			<form class="form-horizontal" id="headHunter-form" role="form"
				th:action="@{/appointment/create}" method="post"
				th:object="${appointment}">

				<div class="form-group">
					<label class="control-label col-sm-2" for="docSession">Session:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="docSession"
							placeholder="docSession" name="docSession"
							th:value="${appointment.sessionId}"
							th:field="${appointment.sessionId}" readonly>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Request</button>
					</div>
				</div>
			</form>
			<div th:replace="fragments/alert :: alert">&nbsp;</div>
		</div>

		<div th:replace="fragments/footer :: footer">&nbsp;</div>
	</div>

	<!-- include javascript in the footer -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>