<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Appointments</title>
<!-- include style sheets in the header -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div>
		<div th:replace="fragments/header :: header">&nbsp;</div>

		<div class="container" style="margin-top: 70px;">

			<form class="form-horizontal" id="headHunter-form" role="form"
				th:action="@{/appointment/search}" method="post"
				th:object="${filter}">

				<div class="form-group">
					<label class="control-label col-sm-2" for="patient">Patient:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="patient"
							placeholder="patient" name="patient"
							th:value="${filter.patientEmail}"
							th:field="${filter.patientEmail}" readonly>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="doctor">Doctor
						Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="doctor"
							placeholder="doctor name" name="doctor"
							th:value="${filter.doctorName}" th:field="${filter.doctorName}"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="hospitalName">Hospital
						Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="hospitalName"
							placeholder="hospital name" name="hospitalName"
							th:value="${filter.hospitalName}"
							th:field="${filter.hospitalName}" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="date">Date:</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" id="date"
							placeholder="date" name="date" th:value="${filter.date}"
							th:field="${filter.date}" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Search</button>
					</div>
				</div>
			</form>
			<div th:replace="fragments/alert :: alert">&nbsp;</div>
		</div>

		<div th:replace="fragments/footer :: footer">&nbsp;</div>
	</div>

	<!-- include javascript in the footer -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>