<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- include style sheets in the header -->
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
<head>
<title>Appointments</title>
</head>
<body>
	<div>
		<div th:replace="fragments/header :: header">&nbsp;</div>

		<div class="container" style="margin-top: 70px;">

			<div>
				<h4>Find your appointment</h4>
			</div>

			<div>
				<table class="table">
					<thead>
						<tr>
							<th>Session ID</th>
							<th>Consultant</th>
							<th>Hospital</th>
							<th>Start Time</th>
						</tr>
					</thead>
					<tbody th:each="docSession : ${result}">
						<tr>
							<td><a
								th:href="@{'/appointment/create?sessionId=' + ${docSession.sessionId}}">
									<label th:text="${docSession.sessionId}"></label>
							</a></td>
							<td><label th:text="${docSession.consultant.name}"></label></td>
							<td><label th:text="${docSession.hospital.name}"></label></td>
							<td><label th:text="${docSession.sessionStartTime}"></label></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<div th:replace="fragments/footer :: footer">&nbsp;</div>
	</div>

</body>
</html>